div.avatar-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    width: 100%;
}
nav.profile-menu {
    display: flex;
    flex-direction: column;
    left: revert;
    right: 0;
}
img.left-x {
    align-self: flex-start;
    margin: 1rem 0 1rem 1rem;
}
img.profile-menu-avatar {
    cursor: inherit;
    margin: 0 auto 1rem;
    width: min(50%, 60px);
}