div.menu-link-container {
    align-items: center;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: .75rem 0;
    width: 100%;
}  
img.menu-link-icon {
    height: 1rem;
}
.menu-link-text {
    color: white;
    font-size: var(--font-medium);
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
.menu-link-container:hover {
    background-color: grey;
}
div.menu-link-disabled {
    align-items: center;
    cursor: default;
    display: grid;
    grid-template-columns: 1fr 3fr;
    opacity: 0.4;
    padding: .75rem 0;
    width: 100%;
    z-index: 110;
}