div.home {
    align-items: center;
    background-color: var(--background-color);
    border: 2px solid lightgrey;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    font-size: var(--font-medium);
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-evenly;
    padding: 4rem 2rem;
    width: 100%;
    & h1 {
        font-size: var(--font-x-large);
    }
    & h2 {
    font-size: var(--font-large);
    font-weight: 500;
    }
}

div.home-button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7vw;
    justify-content: center;
    width: 100%;
}

h1.home {
    font-size: var(--font-x-large);
}

button.home {
    font-size: var(--font-medium) !important;
    height:fit-content !important;
    padding: .5rem 0 !important;
}
