div.radio-buttons-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto 0;
    justify-content: space-evenly;
    width: 100%;
}
input.radio-button {
    padding: 1rem .5rem 0 .5rem;
}
label.radio-button {
    padding: 0 .5rem;
}
span.radio-button-and-label {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    font-size: var(--font-large);
    padding: .25rem 0;
}