div.hamburger-container {
    /* align-items: center; */
    /* display: flex; */
    /* height: 100%; */
    /* justify-content: center; */
    /* width: 100%; */
}
img.hamburger-icon {
    cursor: pointer;
    width: min(30%, 40px);
}
nav.menu {
    background-color: rgb(99, 99, 99);
    display: flex;
    left: 0;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: min(50%, 300px);
    z-index: 100;
}
img.close-x {
    align-self: flex-end;
    background-color: rgb(99, 99, 99);
    color: white;
    margin: 1rem 1rem 1rem 0;
    width: 25px;
    z-index: 100;
}
img.close-x:hover {
    cursor: pointer;
}