div.modal-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 500;
  }
div.modal {
    align-items: center;
    background-color: color-mix(in oklch, white 90%, var(--primary-logo-color) 10%);
    border: 1px solid var(--secondary-logo-color);
    color: var(--secondary-logo-color);
    display: flex;
    flex-direction: column;
    font-size: var(--font-small); 
    height: fit-content;
    max-height: 100%;
    overflow-y: auto;
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-75%);
    width: min(100%, 650px);
    z-index: 550;
}
div.modal-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 1rem;
    width: min(100%, 450px);
  }
  div.modal-text {
    display: inline-block;
  }