div.edit-image-container {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    touch-action: none;
}
.avatar-original {
    height: auto;
    position: absolute;
}
svg.avatar-mask {
    z-index: 50;
}