div.check-read {
    width: 90%;
}
span.read-eula {
    color: var(--primary-color);
    cursor: pointer;
    font-size: clamp(1rem, 5vw, 1.25rem);
    font-weight: 600;
    margin-left: .5rem;
}
span.read-eula:hover {
    color: var(--primary-offset-color);
}