div.tree-browser-container {
    width:100%;
}
div.tree-line {
    align-items: center;
    display: flex;
    font-size: var(--font-medium);
    justify-content: left;
}
div.tree-line-inside-other {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-medium);
    justify-content: left;
    margin-top: -3px;
    margin-bottom: 5px;
}
div.tree-line-inside-other {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--font-medium);
    justify-content: left;
    margin-top: -7px;
    margin-left: -6px;
    margin-bottom: 12px;
}
img.expand-box {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: .5rem;
    margin-top: .1rem;
}
input.tree-checkbox {
    margin: .1rem .5rem 0 0;
    height: 1.1rem;
    width: 1.1rem;
}
div.tree-browser-siblings-container {
    margin-left: 1.8rem;
}
div.tree-container {
    width: 90%;
}
div.checkbox-spacer {
    min-height: 1.5rem;
    min-width: 1.5rem;
    margin-right: .5rem;
    margin-top: .1rem;
}
div.other-container {
    margin-top: 10px;
    margin-right: 15px;
}
input.tree-input-other {
    font-size: var(--font-medium);
    min-height: 1.2rem;
    min-width: 12rem;
    text-align: left;
    margin-top: 5px;
    margin-right: 10px;
}