div.entity-list-container {
    align-items: center;
    display: grid;
    row-gap: .5rem;
    grid-template-columns: auto auto auto;
    max-height: 50vh;
    justify-content: start;
    margin: 1rem 5%;
    overflow-y: auto;
    width: 90%;
}
div.four-columns {
    grid-template-columns: auto auto auto auto;
}
div.two-columns {
    grid-template-columns: auto auto;
}
div.entity-list-select {
    margin-right: .75rem;
}
input.entity-list-select {
    margin: 0;
}
div.entity-list, img.entity-list {
    justify-self: center;
    margin-right: 1rem;
}
div.entity-list-entity-type {
    color: var(--primary-color);
    font-size: var(--font-x-small);
    margin-right: 1rem;
}
a.entity-list-entity-title {
    font-size: var(--font-medium);
    margin: .5rem 0;
    text-align: left;
}