main.content-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: var(--font-x-large);
    outline: none;
    overflow: auto;
    padding: 1rem 0;
    width: 100%;
    height: 100%;
  }
  main.wrap {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  h1.content-heading {
    font-size: var(--font-x-large);
    font-weight: 500;
  }