/* Delete this class when sure that it's no longer needed */

/* .sign-in {
    align-items: center;
    border: var(--border);
    border-radius: var(--border-radius);
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 90%; 
} */

.show-password {
    margin-top: -2rem;
}