div.password-checks-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: clamp(280px, 50%, 800px);
    & .input-container {
        width: 100%;
    }
    & .input-policy {
        margin-bottom: 1.5rem;
    }
}
input.not-matching-border:focus {
    border: 1px solid red !important;
    outline: none !important;
}
div.error-spacer {
  height: var(--font-x-small);
}
/* 
    border: var(--border);
    border-radius: var(--border-radius);
    height: fit-content;
    overflow: hidden;
    position: relative;
    white-space: nowrap; */