div.password-checks-container {
  width: 100%
}
input.not-matching-border:focus {
    border: 1px solid red !important;
    outline: none !important;
}
div.error-spacer {
  height: var(--font-x-small);
}