/* div.checkbox-container {
    display: inline;
} */
input.checkbox {
    /* display: inline; */
    margin: 1.5rem .5rem 0 0;
}
input.checkbox:disabled, input.checkbox:disabled ~ label.checkbox {
    cursor: not-allowed;
}
label.checkbox {
    /* display: inline; */
    font-size: var(--font-small);
    font-weight: 500;
}
label.checkbox:hover {
    color: rgb(180, 163, 67);
}