div.scaled-image-container-xxx-small {
    height: 20px;
    width: 20px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    border: 1px grey solid;
}

div.scaled-image-container-xx-small {
    height: 40px;
    width: 40px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    border: 2px grey solid;
}

div.scaled-image-container-x-small {
    height: 64px;
    width: 64px;
    margin: 2px;
    overflow: hidden;
    position: relative;
    border: 3px grey solid;
}

div.scaled-image-container-small {
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    border: 3px grey solid;
}

div.scaled-image-container-medium {
    height: 128px;
    width: 128px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    border: 3px grey solid;
}

div.scaled-image-container-large {
    height: 256px;
    width: 256px;
    overflow: hidden;
    position: relative;
    margin: 2px;
    border: 5px grey solid;
}

img.scaled-image {
    position: relative;
}

div.circular {
    border-radius: 100%;
}