div.micro-linked-content-container {
    align-items: left;
    display: flex;
    justify-content: left;
}
div.entity-sub-header {
    margin: 1rem 0;
    font-size: var(--font-medium);
}
/* div.linked-content-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
div.linked-content-item {
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
}
label.linked-content-title {
    font-size: var(--font-small);
    margin-left: .5rem;
    text-align: left;
} */