section.notification-details-container {
    width: 90%;
}
h3.notification-subheading {
    font-size: var(--font-medium);
    font-weight: 500;
    text-align: left;
}
div.notification-type {
    font-size: var(--font-small);
    margin: 1rem 0 .5rem;
    text-align: left;
}
img.notification-arrow {
    cursor: pointer;
    height: 1.25rem;
    margin-left: 1rem;
    position: relative;
    top: .25rem;
}
div.current-notification-settings {
    color: var(--primary-color);
    font-size: var(--font-small);
    margin-bottom: 1rem;
    text-align: left;
}
div.notification-checkbox-container {
    margin: 0 auto 1rem 0;
    width: fit-content;
}
div.notification-checkbox {
    display: inline-block;
    margin: 0 2rem 0 0;
    width: fit-content;
}
input.notification-checkbox {
    margin: 0 .25rem 0 0;
}
hr.notification-hr {
    background-color: var(--secondary-color);
    margin: 0;
}
div.notification-notes {
    color: var(--secondary-color);
    font-size: var(--font-small);
    line-height: 1.5;
    text-align: left;
}