label.label-with-help {
    padding: 0 .5rem;
}
img.help-icon {
    align-self: flex-start;
    cursor: pointer;
    height: 1rem;
    padding: 0 .25rem;
    position: relative;
}
div.help-container {
    align-items: flex-start;
    background-color: #E0E0E0;
    border: var(--primary-color) 1px solid;
    display: flex;
    flex-direction: column;
    left: 50%;
    padding: .5rem;
    position: absolute;
    transform: translateX(-50%);
    z-index: 175;
}
div.help-item {
    align-self: flex-start;
    text-align: left;
    padding-top: .5rem;
}
img.help-close-x {
    cursor: pointer;
    height: .8rem;
    margin: 0 0 .25rem auto;
    position: relative;
  }
  div.clear-div {
    border: 3px solid red;
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 50;
  }