.About {
    display: flex;
    flex-direction: column;
    height: 100%;
    line-height: 1.6;
    overflow-y: auto;
}

a {
    color: var(--secondary-offset-color);
}

.About-content {
    align-items: center;
    background-color: var(--background-color);
    border: 2px solid lightgrey;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    justify-content: left !important;
    line-height: 1.6;
    overflow-y: auto;
    padding: 5vh 5vw;
    & h2 {
        margin: 1vh 0;
    }
    & p {
        max-width: 75ch;
    }
}

.dark-mode .About {
    background-color: #070707;
    /* Match App body background color in dark mode */
    color: white;
}

.light-mode .About {
    background-color: white;
    color: black;
}