div.attribute-container {
    outline: 1px solid var(--primary-muted-color);
    padding: .5rem;
    width: 90%;
}
div.attribute-box-and-icon {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
}
div.attribute {
    margin: .5rem 0 0;
}
div.edit-attribute {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: fit-content;
    max-height: 100%;
    padding: 2rem 0 4rem;
    position: absolute;
    width: min(100%, 800px);
    z-index: 250;
}
h1.attribute-heading {
    color: var(--secondary-color);
    font-size: var(--font-large);
    font-weight: 500;
}
div.attribute-list-values-container {
    background-color: white;
    max-height: 100%;
    min-height: 25%;
    padding: 1rem 0;
    position: relative;
    width: min(100%, 800px);
    z-index: 250;
}
div.list-values-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: auto;
    padding: 1rem 0;
    width: min(100%, 300px);
}
input.list-value-input {
    font-size: var(--font-medium);
    max-width: 100%;
    width: 100%;
}